body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
label {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
}
textarea, input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 1em;
    outline: none;
}
.textBox {
    position: relative;
}
button {
    width: 100%;
    padding: 15px;
    background: #ff7eb3;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover {
    background: #ff5678;
}
#toggleSecretKey, #copyButton {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
}
a {
    display: block;
    margin-top: 20px;
    color: #ffde59;
    text-decoration: none;
    font-size: 1.1em;
}
a:hover {
    text-decoration: underline;
    color: #ffc400;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 32px;
    font-size: 17px;
    transform: translateX(-50%);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    animation: fadeInOut 2s;
}
#snackbar.show {
    visibility: visible;
}
@keyframes fadeInOut {
    0%, 80% { opacity: 1; }
    100% { opacity: 0; }
}